.stats {
    font-size: 7.5em;
    text-align: center;
}

a {
    color : saddlebrown;
}

h2 {
    text-align: left;
    color: black;
}

#diff {
    background-color: darkcyan;
}

#header {
    text-align: center;
    color: black;
}

h4 {
    color: darkblue;
}
body {
    background-color: dodgerblue;
    color: white ;
    font-family: Calibri;
}

.head {
    background-color: darkblue;
}

.row1 {
    background-color: black;
}

form {
    text-align: center;
}